body {
	background-color: white;
	margin: 0 ;
    padding: 0;
	font-family: arial;}
main {
	background-color: lightgrey;
	margin-left: 6%;
	margin-right: 6%;} 
.menu {
 
}

.boddy {

top: 145px;
padding-bottom: 80px;
margin: auto;
padding-top: 117px;
}

.footer {


}



nav {
	
    /* position: fixed; */
    background-color: grey;
    /* list-style: none; */
    padding: 0;
    font-size: 12px;
    /* font-family: arial; */
    /* margin: auto; */
    width: 1226px;
    /* margin-bottom: 0; */
    height: 70px;
    /* z-index: 10; */
}
nav>ul{ 
	list-style: none; 
	overflow: hidden;
	margin: 0;
	padding-left: 0;
	margin-top: 1.9%;}
nav>ul>li { 
	display: block;
    margin: 0;
    padding: 0;
    float: left;}
nav>ul>li>a {
	display: block;
	color: white;
    background: gray;
    text-decoration: none;
    padding: 10px;
    margin: 0;
    outline: none;}
nav>ul>li>a.anavtext {
	display: block;
	color: white;
    background: gray;
    text-decoration: none;
    padding: 23px;
    padding-left: 40px;
    padding-top: 23.5px;
    margin: 0;
    outline: none;}
nav>ul>li>a:hover {
    background: #2b2b2b;
}
.reg { 
float: right; 
/*width:50px;*/
font-size:15px;
}
.reg>a {
    text-decoration: none;
	color: white;
	padding-left: 10px;}
.reg>a:hover {
    background: #2b2b2b;
}
section {margin: auto;
	margin-top: 0;
	margin-bottom: 0;}
h2 {display: block;
	text-align: center;
	font-family: arial;
	color: #786659;
	background-color: #76acaf;
	margin: 0;
	margin-top: 0;
	padding: 10px;
	}
.textbrown {font-family: arial;
	color:#786659 ;}
.textwhite {font-family: arial;
	color: white;
	background-color: #76acaf}
img {width: 100%;}
.section1 {margin: auto;
	padding-top: 95px;}
div.insidetextblock {
	position: absolute; 
	opacity: 0.7; /* Значение прозрачност23и */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
	max-width: 21%;
	z-index: 7;
	background-color: white;
	font-size: 24px;
	text-align: center; 
	line-height: 1.5;
	font-size: 20px;}
table {
    width: 100%; /* Ширина таблицы */
    border-spacing: 1px; /* Расстояние между ячейками */
    text-align: center;
    vertical-align: center;
   }
td, th {
    padding: 5px; /* Поля вокруг текста */
}
.ssilka {
	display: block;
	color:#786659;
    text-decoration: none;
    margin: 0;
    outline: none;}
	a:hover {background-color: white;}
.ssilka1 {
	display: block;
	color:#786659;
    text-decoration: none;
    margin: 0;
    outline: none;}
	a:hover {background-color: #76acaf;}
footer {
	background-color: #614c3d;	
}
footer>img {padding-left: 15%; width: 70%; padding-right: 30%}

@keyframes fade { 
     0% { opacity: 0; } 
     11.11% { opacity: 1; } 
     33.33% { opacity: 1; } 
     44.44% { opacity: 0; } 
     100% { opacity: 0; } 
 } 

.fadein { position: relative; z-index: 6;} 
 .fadein img { position:absolute; left:0; right:0; opacity:0; animation-name: fade; animation-duration: 9s; animation-iteration-count: infinite; z-index: 7;} 
 .fadein img:nth-child(1) { animation-delay: 0s; } 
 .fadein img:nth-child(2) { animation-delay: 3s; } 
 .fadein img:nth-child(3) { animation-delay: 6s; }
 .fadein img:nth-child(4) { animation-delay: 9s; }

 .menu {height: 30%; width: 30%; margin: 2.5%;}
 .menu:hover{size: 20%}

